* {
    text-align: center;
    margin: 5px;
}

.start-button {
    background-color: lightblue;
    font-size: 2em;
    padding: 20px;
}

#refresh {
    font-size: 1.25em;
    margin: 10px;
}

.end-button {
    font-size: .75em;
    padding: 5px;
}

.timer-count {
    color: red;
    font-size: 2.5em;
    padding: 0;
    margin-bottom: .5em;
}

.button {
    font-size: 1em;
    padding: 20px;
    margin: 20px 5px 0px 5px;
}

.answer1 {
    background-color: coral;
}

.answer1:hover {
    background-color: lightcoral;
}

.answer2 {
    background-color: lightblue;
}

.answer2:hover {
    background-color: lightskyblue;
}

.answer3 {
    background-color: lightpink;
}

.answer3:hover {
    background-color: palevioletred;
}

.answer4 {
    background-color: greenyellow;
}

.answer4:hover {
    background-color: lightgreen;
}

.question-holder {
    font-size: 2em;
}

header h1 {
    border-bottom: 5px solid black;
    padding: 10px;
}

#score-view {
    display: inline;
}

#scoreboard ul {
    list-style-type: none;
    font-size: 20px;
}

#scoreboard li {
    padding: 3px;
}

#initials {
    width: 3.5em;
    height: 1.8em;
}